/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #3498db;
  --primary-dark: #1b5379;
  --green: #1aac83;
  --dark-red: #e7195a;
  --mid-red: #ff4d6a;
  --light-red: #ffefef;
  --dark-green: #1aac83;
  --mid-green: #1aac83;
  --light-green: #e7f9f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  font-family: 'Poppins';
}

/* 
==================================
PAGES
==================================
*/

.pages {
  max-width: 1400px;
  padding: 3rem 1.5rem;
  margin: 0 auto;
  min-height: calc(100vh - 68px - 49px);
}

.home {
  display: grid;
  grid-template-columns: 1fr 40%;
  column-gap: 3rem;
}

/* 
==================================
CONTENT BLOCK
==================================
*/

.movie-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.movie-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
  text-transform: capitalize;
}
.movie-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.movie-details button {
  position: absolute;
  cursor: pointer;
  padding: 6px 6px 4px;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: all 0.3s linear;
}

#edit-movie {
  top: 20px;
  right: 20px;
  background: var(--light-green);
  color: var(--mid-green);
}
#edit-movie:hover {
  background: var(--dark-green);
  color: #fff;
}

#delete-movie {
  top: 60px;
  right: 20px;
  background: var(--light-red);
  color: var(--mid-red);
}
#delete-movie:hover {
  background: var(--dark-red);
  color: #fff;
}

/* 
==================================
FORM BLOCK
==================================
*/

.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.25rem auto;
  width: 260px;
}

.form-header h3 {
  color: var(--primary);
}

.form-header .btn-dropdown {
  display: none;
  background: transparent;
  border: none;
  transition: all 0.3s linear;
}
.form-header .btn-dropdown:hover {
  opacity: 0.99;
  scale: 0.99;
}
.form-header .btn-dropdown svg {
  cursor: pointer;
  font-size: 1rem;
  color: var(--primary);
}

form {
  margin: 0 auto;
}

form h3 {
  margin-bottom: 1rem;
  color: var(--primary);
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-row .form-group {
  width: 100%;
}

label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Poppins';
  resize: vertical;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  transition: all 0.3s linear;
}
form button:hover {
  opacity: 0.99;
  scale: 0.99;
}

input.error {
  border: 1px solid var(--dark-red);
}

/* 
=====================
NAVBAR
=====================
*/

header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

header a {
  color: #333;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* 
=====================
FOOTER
=====================
*/

footer {
  color: #fff;
  background: #111;
  text-align: center;
  width: 100%;
  padding: 0.75rem;
  letter-spacing: 1px;
  cursor: initial;
}

footer a {
  text-decoration: none;
}

footer .link:hover,
footer .icon i:hover {
  color: #fff;
}

footer .link {
  color: var(--primary);
  transition: 0.3s all linear;
  font-weight: bold;
  padding-right: 0.5rem;
  border-right: 3px solid #fff;
  margin-right: 1rem;
}
footer .icon {
  font-size: 1.25rem;
  vertical-align: middle;
  line-height: 1;
  margin-right: 0.5rem;
}
footer .icon i {
  transition: 0.3s all linear;
}

#twitter {
  color: #00a7e7;
}
#github {
  color: #fff;
}
#linkedin {
  color: #0073b1;
}

/* loader */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: var(--primary);
  animation: spin 1s ease infinite;
  margin: 20px auto;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.controls label {
  display: flex;
  align-items: center;
}

.controls select,
.controls input {
  font-size: 1rem;
  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sort-order {
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.controls button {
  font-size: 1rem;
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.controls button:hover {
  background: var(--primary-dark);
  opacity: 0.99;
  scale: 0.99;
}

/* Modal Overlay */
.modal-overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  background: white;
  width: 300px; /* Adjust the width as needed */
  margin: auto;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: left; /* Align text to the left */

  /* Uniform text style */
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #333;
}

.modal-content label,
.modal-content input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content button {
  display: block;
  width: 100%;
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.modal-content button:hover {
  background: var(--primary-dark);
  opacity: 0.99;
  scale: 0.99;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 
=====================
RESPONSIVE
=====================
*/

@media (max-width: 868px) {
  .home {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .content-block {
    order: 2;
  }
  .form-block {
    order: 1;
    max-width: 680px;
    margin: 0 auto;
  }

  .form-header {
    justify-content: space-between;
  }

  .form-header .btn-dropdown {
    display: block;
  }
}

@media (max-width: 581px) {
  header .container {
    justify-content: center;
  }

  .pages {
    padding: 3rem 0.75rem;
  }

  .movie-details {
    padding: 1rem;
  }
  .movie-details h4 {
    font-size: 1.1rem;
  }
  .movie-details p {
    font-size: 0.8em;
  }
}
